@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




#index-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#index-ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#index-ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#index-ext_menu-0 .close-icon::before,
#index-ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#index-ext_menu-0 .link,
#index-ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#index-ext_menu-0 .link {
  font-size: 0.75rem;
}
#index-ext_menu-0 .dropdown-item,
#index-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#index-ext_menu-0 .link:hover,
#index-ext_menu-0 .dropdown-item:hover,
#index-ext_menu-0 .link:focus,
#index-ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#index-ext_menu-0 .nav-dropdown-sm .link:focus,
#index-ext_menu-0 .nav-dropdown-sm .link:hover,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#index-ext_menu-0 .navbar,
#index-ext_menu-0 .nav-dropdown-sm,
#index-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#index-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#index-ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#index-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#index-ext_menu-0 .bg-color.transparent.opened .link:hover,
#index-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#index-msg-box6-0 .mbr-section-title,
#index-msg-box6-0 .lead p {
  color: #fff;
}
#index-msg-box6-0 P {
  font-family: 'Oswald', sans-serif;
}
#index-features4-0 .card-subtitle {
  color: #bcbcbc;
}
#index-features4-0 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
